/* set css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
background-color: #f1f0f0;
display: grid;
grid-template-columns: 15% 84%;
column-gap: 1%;
height: 254.78px;
width: 100%;
}

#side-bar {
    /* background-color: #fff; */
    height: 100%;
}
#side-bar .menu{
    background-color: #fff;
    height: 100%;
}

#side-bar li {
    width: 100%;
    position: relative;
    line-height: 35px;
    height: 35px;
}

#side-bar li:hover {
    color: red;
    background-color: #d8d5d5;
}

#side-bar .arrow-right {
    font-size: 10px;
    position: absolute;
    right: 12px;
    line-height: 35px;
    color: #000 !important;
}

#side-bar ul {
    list-style-type: none;
}

#items {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 height: 100%;
 column-gap: 20px;
}

#items > .item {
    height: 100%;
    background-color: #fff;
}

#items .item img{
    width: 100%;
    height: 50%;
}

#items h4 {
    padding: 0 10px;
}

#items > .item > p {
    color: #9f9e9e;
    font-size: 12px;
    padding: 5px 10px;

}

#items .comment {
    display: flex;
    /* grid-template-columns: 20% 15% 65%; */
    border-top: 0.8px solid rgba(0, 0, 0, 0.05);
    border-left: 0.8px solid rgba(0, 0, 0, 0.05);
    align-items: center;
    margin-top: 10px;
}

#items .comment > img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    
}

#items .comment p {
    margin-left: 10px;
    font-size: 12px;
}